body {
  background-color: rgba(195, 195, 195, 0.75);
}

h1 {
  text-align: center;
  font-family: 'SF Mono', SFMono-Regular, ui-monospace,
  'DejaVu Sans Mono', Menlo, Consolas, monospace;}

h2 {
  text-align: center;
  font-family: 'SF Mono', SFMono-Regular, ui-monospace,
  'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

h3 {
  font-family: "sans-serif";
}

p {
  text-align: justify;
  text-indent: 2em;
  font-family: "sans-serif";
  font-size: 14pt;
}

.reference_source {
  font-style: italic;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: cornflowerblue;
}

a:visited {
  color: cornflowerblue;
}

a:hover {
  color: color-mix(in srgb, cornflowerblue, black 30%);
}

a:active {
  color: color-mix(in srgb, cornflowerblue, black 30%);
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;

  opacity: 33%;
}

div.backdrop {
  position: relative;
  margin: 50px auto auto auto;
  width: 100%;
  max-width: 1000px;
  min-height: min-content;
  height: auto;
  backdrop-filter: blur(5px);
  background-color:rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;

  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 5% 20px 5%;
}

div.bio_container {
  padding: 20px 0 0 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap-reverse;
}

div.bio {
  padding: 5px 0 20px 0;
  width: 0;
  flex-grow: 2;
  min-width: 300px;
}

div.portrait {
  padding: 10px 30px 0 30px;
  width: 0;
  flex-grow: 1;
  min-width: 200px;
}

img.portrait {
  border-radius: 10px;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

div.hrule {
  margin: auto 50px auto 50px;
  border-bottom: medium solid grey;
}

div.foot_rule {
  border-bottom: thin solid grey;
  margin: auto 67% auto auto;
}